#a {
    text-align: center;
    }
#b {
    text-align: center;
    line-height: 550px;
}
#c {
    text-align: center;   
}
#d {
    text-align: center;   
}
#e {
    text-align: center;    
}
#f {
    text-align: center;   
}
#g {
    text-align: center;   
}
#h {
    text-align: center;    
}
#i {
    text-align: center;
}